html {
    font-family: "Noto Serif TC", serif;
}

:root {
  --bs-primary-rgb: 139, 163, 199;/*一定要是 R,G,B ，這個改成你要的顏色*/
  --bs-link-color: #6B84A8;/*這是超連結的顏色*/
  --bs-link-hover-color: #3E5A80;/*這是超連結滑鼠游標移動過去的時候呈現的顏色*/
} /*這個要在 mystyle.css 第一行*/

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.carousel-wrapper {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  height: 400px; /* 統一所有圖片顯示區域高度 */
  width: 100%
}

.carousel-item.active{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B84A8;
}

.carousel-item{
    height: 100%;
}

.carousel-item img{
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.card-text a{
    text-decoration: none;
}

section.imgcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

section.imgcontainer figure{
    width: 235px;
    margin: 0;
    text-align: center;
}

section.imgcontainer img{
    height: 200px;
    border-radius: 100px;
}

section.imgcontainer figcaption{
    margin-top: 8px;
    font-size: 16px;
}

section.imgcontainer figure a{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    border-radius: 100px;
}

section.imgcontainer figure a:hover{
    text-decoration: none;
}